.events{
    padding: 75px 0;
    .eventsBlock{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .eventsTitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1{
                margin: 0;
                font: {
                    family:'Manrope';
                    weight:800;
                    size: 46px;
                }
                color: $black;
                line-height: 55.2px;
                span{
                    color: $main;
                }
            }
            button{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
            }
        }
        .eventsCards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
        .eventCard{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            overflow: hidden;
                border-radius: 20px;
                background-color: $main;

                .eventCardText{
                    padding-top: 40.53px;
                    padding-left: 20.46px;
                    padding-bottom: 172.47px;
                    z-index: 2;
                    h2{
                        background-color: $white;
                        margin: 0;
                        padding: 10px 24px;
                        border-radius: 14px;
                        font: {
                            family:'Manrope';
                            weight:700;
                            size: 20px;
                        }
                        color: $secondary;
                        line-height: 27px;
                    }
                }

                .eventCardPictures{
                    .eventCardPictureDrink{
                        position: absolute;
                        top: 58px;
                        right: 52.62px;
                        object-fit: cover;
                    }
                    .eventCardPictureVector1{
                        position: absolute;
                        right: 0;
                        object-fit: cover;
                    }
                    .eventCardPictureVector2{
                        position: absolute;
                        left: 0;
                        object-fit: cover;
                    }
                    .eventCardPictureAcorn1{
                        position: absolute;
                        top: 180.22px;
                        left: 41.63px;
                        object-fit: cover;
                    }
                    .eventCardPictureAcorn2{
                        position: absolute;
                        top: 190px;
                        left: 0;
                        object-fit: cover;
                    }
                    .eventCardPictureVector3{
                        position: absolute;
                        bottom: 0;
                        left: 126px;
                        object-fit: cover;
                    }
                }
        }
        .eventCard2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
                border-radius: 20px;
                background-color: $yellow;

                .eventCardText{
                    padding: 40px 20px;
                    h2{
                        background-color: $main;
                        margin: 0;
                        padding: 10px 24px;
                        border-radius: 14px;
                        font: {
                            family:'Manrope';
                            weight:700;
                            size: 20px;
                        }
                        color: $white;
                    }
                }

                .eventCardPictures{
                    
                }
        }
    }
}