.events{
    padding: 75px 0;
    .eventsBlock{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .eventsTitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            h1{
                margin: 0;
                font: {
                    family:'Manrope';
                    weight:800;
                    size: 46px;
                }
                color: $black;
                line-height: 55.2px;
                span{
                    color: $main;
                }
            }
            button{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
            }
        }

        @media (max-width: 1000px) {
            .eventsTitle{
                h1{
                    font: {
                        weight:700;
                        size: 30px;
                    }
                    line-height: 40.5px;
                }
            }
        }

        @media (max-width: 576px) {
            .eventsTitle{
                h1{
                    font: {
                        weight:700;
                        size: 26px;
                    }
                    line-height: 35.1px;
                }   
            }
            
        }
        
        .eventsCards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .eventBtn{
            display: none;
        }

        @media (max-width: 1000px) {
            .eventsCards{
                display: grid;
                grid-template-columns: 1fr;
            }
            .eventsTitle{
                gap: 20px;
            }
        }

        @media (max-width: 576px) {
            .eventsTitle{
                button{
                    display: none;
                }
            }
            .eventBtn{ 
                display: flex;
                align-items: stretch;
                flex-direction: column;

                button{
                    padding: 10px 0;
                    font: {
                        weight:700;
                        size: 12px;
                    }
                    line-height: 16.39px;
                }
            }
        }

        .eventCard{
            border-radius: 20px;
        img{
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
        }
        
    }
}