header {
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 26px;
        border-radius: 18px;
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06),
            0 0 4px 0 rgba(0, 0, 0, 0.04);
    }
    a{
        text-decoration: none;
        color: $black;
        font: {
            family: 'Manrope';
            size: 16px;
            weight: 500;
        }
    }
    a:hover{
        color: $main;
    }
    
    .btn-secondary{
        font: {
            family: 'Manrope';
            size: 16px;
            weight: 500;
        }
        --bs-btn-color: none;
        --bs-btn-bg: none;
        --bs-btn-border-color: none;
        --bs-btn-hover-color: none;
        --bs-btn-hover-bg: none;
        --bs-btn-hover-border-color:none;
        --bs-btn-focus-shadow-rgb: none;
        --bs-btn-active-color: none;
        --bs-btn-active-bg: none;
        --bs-btn-active-border-color: none;
        --bs-btn-active-shadow: none;
        --bs-btn-disabled-color: none;
        --bs-btn-disabled-bg: none;
        --bs-btn-disabled-border-color: none;
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
    }
    .btn-secondary:hover{
        color: $main;
    }
    .dropdown-menu{
        font: {
            family: 'Manrope';
            size: 14px;
            weight: 500;
        }
        border: 0;
        --bs-dropdown-min-width: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06),
            0 0 4px 0 rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        padding: 20px 10px;
        --bs-dropdown-link-hover-bg: none;
        --bs-dropdown-link-active-color: none;
        --bs-dropdown-link-active-bg: none;
    }
    .dropdown:hover > .dropdown-menu {
        display: block; 
    } 
    .dropdown-item:hover{
        color: $main;
    }
    .headerNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        nav{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 22px;
        }
        .buttonHeader{
            display: flex;
            gap:14px;
            .btn1000{
                display: none;
                padding: 10px 20px;
            }

            .btnMenu1000{
                display: none;
            }
        }
    }
}


@media (max-width: 1400px) {
    header{
        
    }
}
@media (max-width: 1000px) {
    
}
@media (max-width: 576px) {
    
}