.houses{
    padding: 45px 0;
    h1{
        margin: 0;
        font: {
            family:'Manrope';
            weight:800;
            size: 2.875rem;
        }
    }
    .housesBlock{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        h2{
            margin: 0;
        }
        p{
            margin: 0;
        }
        .houseCard{
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08),
             0 0 4px 0 rgba(0, 0, 0, 0.04);
             border-radius: 20px;
            .houseCardBanner{
                width: 420px;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            .houseCardInfo{
                padding: 20px 30px 30px 30px;
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }
    
    }
}