.mainSlider{
    padding-bottom: 45px;

.swiper {
    display: flex;
    width: 100%;
    height: 550px;
    margin: 0;
    border-radius: 24px;
}
.swiper-slide{
    display: flex;
    border-radius: 24px;
}
.swiper-pagination{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 42px;
    padding-left: 105px;
}
.swiper-pagination-bullet{
    width: 45px;
    height: 3px;
    border-radius: 0;
    background-color:rgba(247, 247, 247, 1);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color:$main ;
}

.swiper-button-prev::after, .swiper-button-next::after{
    content: none;
}

.swiper-button-next{
    background: $white;
    width: 44px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 4px;
    right:20px;
}

.swiper-button-prev{
    background: $white;
    width: 44px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 4px;
    left:20px;
}

.swiper-slide{
    position: relative;
    border-radius: 24px;
    padding: 141px 105px;
    
    picture{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: -2;
        
}
    img{
        object-fit:cover;
        width: 100%;
        height: 100%;
}
    
    .mainSliderText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 673px;

        h1{
            font: {
                family: 'Manrope';
                size:46px;
                weight: 700;
            }
            color: $white;
            margin: 0;
            line-height: 64.4px;
        }
        p{
            font: {
                family: 'Manrope';
                size: 18px;
                weight: 400;
            }
            color: $white;
            margin: 0;
            line-height: 27px;
        }
    }
}
}

@media (max-width: 1400px) {
    .mainSlider{
        padding-bottom: 35px;
        .swiper {
            height: 480px;
        }
        .swiper-button-next{
            right:12px;
        }
        .swiper-button-prev{
            right:12px;
        }
        .swiper-pagination{
            padding-bottom: 40px;
            padding-left: 88px;
        }
        .swiper-slide{
            padding: 80px 88px;
        }
    }
}
@media (max-width: 1000px) {
    .mainSlider{
        padding-bottom: 35px;
        .swiper {
            height: 440px;
        }
        .swiper-button-next{
            display: none;
        }
        .swiper-button-prev{
            display: none;
        }
        .swiper-pagination{
            padding-bottom: 34px;
            padding-left: 30px;
        }
        .swiper-pagination-bullet{
            width: 40px;
        }
        .swiper-slide{
            padding: 78px 30px;
            .mainSliderText{
                gap: 20px;
                max-width: 392px;
                h1{
                    font: {
                        size:32px;
                        weight: 700;
                    }
                    line-height: 41.6px;
                }
                p{
                    font: {
                        size: 16px;
                        weight: 400;
                    }
                    line-height: 21.6px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .mainSlider{
        padding-bottom: 30px; 
        .swiper {
            height: 330px;
        }
        .swiper-pagination{
            padding-bottom: 20px;
            padding-left: 30px;
        }
        .swiper-pagination-bullet{
            width: 25px;
        }
        .swiper-slide{
            padding: 64px 30px;
            .mainSliderText{
                gap: 14px;
                max-width: 240px;
                h1{
                    font: {
                        size:22px;
                        weight: 700;
                    }
                    line-height: 28.6px;
                }
                p{
                    font: {
                        size: 12px;
                        weight: 400;
                    }
                    line-height: 16.2px;
                }
            }
        }
    }
}