.news{
    h1{
        margin: 0;
            font: {
                family:'Manrope';
                weight:800;
                size: 46px;
            }
        color: $black;
    }

    @media (max-width: 1000px) {
        h1{
        font: {
                family:'Manrope';
                weight:700;
                size: 30px;
            }
        }
    }
    @media (max-width: 576px) {
        h1{
        font: {
                family:'Manrope';
                weight:700;
                size: 26px;
            }
        }
    }

    .newsPathLink{
        a, span{
            margin: 0;
            text-decoration: none;
                font: {
                    family:'Manrope';
                    weight:400;
                    size: 16px;
                }
            color: rgba(129, 126, 126, 1);
        }
    }
    .newsBlock{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 75px;
    }

    .allNewsCards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        padding-top: 40px;
        .newsCard{
            text-decoration: none;
            display: flex;
            gap: 20px;
            flex-direction: column;
            img{
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            .newsCardText{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                gap: 20px;
                h3{
                    margin: 0;
                        font: {
                            family:'Manrope';
                            weight:600;
                            size: 18px;
                        }
                    color: $black;
                }
                p{
                    margin: 0;
                    text-decoration: none;
                        font: {
                            family:'Manrope';
                            weight:500;
                            size: 16px;
                        }
                    color: rgba(144, 142, 142, 1);
                }
            }
        }
    }
    @media (max-width: 1000px) {
        .allNewsCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    
        }
    }
    @media (max-width: 576px) {
        .allNewsCards{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    
        }
    }

}