.pageHouse{
    padding-top: 30px;
    padding-bottom: 75px;
    .pageHouseBlock{
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
    .pageHousePathLink{
            a, span{
                margin: 0;
                text-decoration: none;
                    font: {
                        family:'Manrope';
                        weight:400;
                        size: 16px;
                    }
                color: rgba(129, 126, 126, 1);
                line-height: 135%;
            }
        }
    .pageHouseBlockSlideText{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 80px;
        
    
        .swiper{
            margin: 0;
            position: relative;
        }
        .swiper-slide{
            border-radius: 24px;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            picture{ 
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
            }
        }
        .houseSwiperBtnsSlide{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            z-index: 10;
            bottom: 0;
            right: 0;
            padding: 8px 15px;
            gap: 20px;
        }

        .swiper-button-prev, .swiper-button-next{
            position: relative;
            z-index: 0;
            margin: 0;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    

        .allHouseText{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }

        .houseText{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 24px;
            h2{
                margin: 0;
                line-height: 120%;
                    font: {
                        family:'Manrope';
                        weight:800;
                        size: 46px;
                    }
                color: $black;
            }
            p{
                margin: 0;
                line-height: 150%;
                    font: {
                        family:'Manrope';
                        weight:400;
                        size: 16px;
                    }
                color: $black;
            }
        }
        .housePrices{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .housePrice{
                display: flex;
                flex-direction: row;
                background-color: $darkGrey;
                border-radius: 10px;
                align-items: flex-start;
                padding: 16px 22px;
                gap: 10px;
                flex-grow: 1;

                .housePriceText{
                    display: flex;
                    flex-direction: column;
                    p{
                        margin: 0;
                        line-height: 150%;
                            font: {
                                family:'Manrope';
                                weight:600;
                                size: 18px;
                            }
                        color: $secondary;
                    }
                    span{
                        margin: 0;
                        line-height: 150%;
                            font: {
                                family:'Manrope';
                                weight:700;
                                size: 22px;
                            }
                        color: $black;
                    }

                }
            }
        }
    }
}
@media (max-width: 1400px) and (min-width: 992px) {
    .pageHouse{
        padding-top: 25px;
        padding-bottom: 65px;
        .pageHouseBlock{
            gap: 30px;
        }
        .pageHousePathLink{
                a, span{
                        font: {
                            weight:400;
                            size: 16px;
                        }
                    line-height: 135%;
                }
            }
        .houseSwiperBtnsSlide{
            padding: 16px;
            gap: 20px;
        }
        

        .pageHouseBlockSlideText{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 20px;
            
            .allHouseText{
                gap: 20px;
                
            }
            .houseText{
                gap: 24px;
                h2{
                    line-height: 120%;
                        font: {
                            weight:800;
                            size: 46px;
                        }
                }
                p{
                    line-height: 150%;
                        font: {
                            weight:400;
                            size: 14px;
                        }
                }
            }
            .housePrices{
                gap: 10px;

                .housePrice{
                    padding: 16px 22px;
                    gap: 10px;

                    .housePriceText{
                        p{
                            line-height: 150%;
                                font: {
                                    weight:600;
                                    size: 16px;
                                }
                        }
                        span{
                            line-height: 150%;
                                font: {
                                    weight:700;
                                    size: 18px;
                                }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) and (min-width: 576px) {
    .pageHouse{
        padding-top: 20px;
        padding-bottom: 45px;
        .pageHouseBlock{
            gap: 30px;
        }
        .pageHousePathLink{
                a, span{
                        font: {
                            weight:400;
                            size: 16px;
                        }
                    line-height: 135%;
                }
            }
        .houseSwiperBtnsSlide{
            padding: 14px;
            gap: 10px;
        }
        .pageHouseBlockSlideText{
            grid-template-columns: 1fr;
            grid-template-rows: 320px 1fr;
            gap: 20px;
            
            .allHouseText{
                gap: 20px;
                
            }
            .houseText{
                gap: 24px;
                h2{
                    line-height: 135%;
                        font: {
                            weight:700;
                            size: 30px;
                        }
                }
                p{
                    line-height: 150%;
                        font: {
                            weight:400;
                            size: 14px;
                        }
                }
            }
            .housePrices{
                gap: 10px;

                .housePrice{
                    padding: 16px 22px;
                    gap: 10px;

                    .housePriceText{
                        p{
                            line-height: 150%;
                                font: {
                                    weight:600;
                                    size: 16px;
                                }
                        }
                        span{
                            line-height: 150%;
                                font: {
                                    weight:700;
                                    size: 18px;
                                }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
   .pageHouse{
        padding-top: 5px;
        padding-bottom: 30px;
        .pageHouseBlock{
            gap: 30px;
        }
        .pageHousePathLink{
                a, span{
                        font: {
                            weight:400;
                            size: 14px;
                        }
                    line-height: 135%;
                }
            }
        .pageHouseBlockSlideText{
            grid-template-columns: 1fr;
            grid-template-rows: 266px 1fr;
            gap: 20px;
            
            .allHouseText{
                gap: 20px;
                
            }
            .houseText{
                gap: 10px;
                h2{
                    line-height: 135%;
                        font: {
                            weight:700;
                            size: 26px;
                        }
                }
                p{
                    line-height: 150%;
                        font: {
                            weight:400;
                            size: 14px;
                        }
                }
            }
            .housePrices{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                gap: 10px;

                .housePrice{
                    padding: 16px 22px;
                    gap: 10px;

                    .housePriceText{
                        p{
                            line-height: 150%;
                                font: {
                                    weight:600;
                                    size: 16px;
                                }
                        }
                        span{
                            line-height: 150%;
                                font: {
                                    weight:700;
                                    size: 18px;
                                }
                        }
                    }
                }
            }
        }
    } 
}