@import 'colors';
button{
    font: {
        family: 'Manrope';
        size: 1rem;
        weight: 800;
    }
    color: $main;
    background-color: white;
    border: 1px solid $main;
    border-radius: 10px;
    padding: 12px 32px;
}

.mainButtonDark{
    color: $white;
    background-color: $main;
    border: 1px solid $main;
    border-radius: 10px;
    padding: 12px 32px;
}
.mainButtonLight{
    color: $main;
    background-color: $white;
    border: 1px solid $main;
    border-radius: 10px;
    padding: 12px 32px;
}