@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope/Manrope.ttf);
}
button {
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid #748A5B;
  border-radius: 10px;
  padding: 12px 32px;
}

.mainButtonDark {
  color: #FFFFFF;
  background-color: #748A5B;
}

.mainButtonLight {
  color: #748A5B;
  background-color: #FFFFFF;
}

header {
  padding: 20px 0px;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 26px;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.04);
}
header a {
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
}
header .logo {
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 800;
}
header .btn-secondary {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color:none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}
header .dropdown-menu {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 500;
  border: 0;
  --bs-dropdown-min-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 20px 10px;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
header .dropdown:hover > .dropdown-menu {
  display: block;
}
header .headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
header .headerNav nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 22px;
}
header .headerNav .buttonHeader {
  display: flex;
  gap: 14px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 40px 40px 40px;
  gap: 20px;
}
.modal-body .titleModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.modal-body .titleModal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body h1 {
  margin: 0;
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 800;
}
.modal-body p {
  margin: 0;
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
}
.modal-body .policyModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
}
.modal-body .policyModal a {
  margin: 0;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}
.modal-body form div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-body form label {
  margin: 0;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
}
.modal-body form input {
  background-color: rgb(238, 238, 238);
  border: 0;
  padding: 14px;
  border-radius: 8px;
}
.modal-body form input::-moz-placeholder {
  color: rgb(129, 126, 126);
  margin: 0;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
}
.modal-body form input::placeholder {
  color: rgb(129, 126, 126);
  margin: 0;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
}

.mainSlider {
  padding-bottom: 45px;
}
.mainSlider .swiper {
  display: flex;
  width: 100%;
  height: 550px;
  margin: 0;
  border-radius: 24px;
}
.mainSlider .swiper-slide {
  display: flex;
  border-radius: 24px;
}
.mainSlider .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 42px;
  padding-left: 105px;
}
.mainSlider .swiper-pagination-bullet {
  width: 45px;
  height: 3px;
  border-radius: 0;
  background-color: rgb(247, 247, 247);
  opacity: 1;
}
.mainSlider .swiper-pagination-bullet-active {
  background-color: #748A5B;
}
.mainSlider .swiper-button-prev::after, .mainSlider .swiper-button-next::after {
  content: none;
}
.mainSlider .swiper-button-next {
  background: #FFFFFF;
  width: 44px;
  height: 40px;
  padding: 8px 10px;
  border-radius: 4px;
  right: 20px;
}
.mainSlider .swiper-button-prev {
  background: #FFFFFF;
  width: 44px;
  height: 40px;
  padding: 8px 10px;
  border-radius: 4px;
  left: 20px;
}
.mainSlider .swiper-slide {
  position: relative;
  border-radius: 24px;
  padding: 141px 105px;
}
.mainSlider .swiper-slide picture {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.mainSlider .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainSlider .swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 775px;
}
.mainSlider .swiper-slide div h1 {
  font-family: "Manrope";
  font-size: 46px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
}
.mainSlider .swiper-slide div p {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

.order {
  padding: 45px 0;
}
.order .orderBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.order .orderBlock h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
}
.order .orderBlock form {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.order .orderBlock form .fullInput {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid rgb(129, 126, 126);
  border-radius: 10px;
}
.order .orderBlock form input, .order .orderBlock form select {
  outline: none;
  border: none;
  display: block;
  color: rgb(64, 64, 64);
  width: 280px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
}
.order .orderBlock form label {
  display: block;
  font-size: 12px;
  color: rgb(129, 126, 126);
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
}

.houses {
  padding-top: 45px;
  padding-bottom: 75px;
}
.houses h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.houses .housesBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.houses .housesCardsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
}
.houses .housesCardsBlock h2 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 26px;
  color: rgb(64, 64, 64);
}
.houses .housesCardsBlock span {
  margin: 0;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 30px;
  color: rgb(64, 64, 64);
}
.houses .housesCardsBlock p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  color: #3D5E38;
}
.houses .housesCardsBlock .houseCard {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.houses .housesCardsBlock .houseCard .housesStats {
  position: absolute;
  padding: 16px;
  display: flex;
  gap: 8px;
}
.houses .housesCardsBlock .houseCard .houseCardPeople {
  display: flex;
  flex-direction: row;
  padding: 11px 22px;
  border-radius: 10px;
  gap: 10px;
  background-color: rgb(242, 242, 242);
}
.houses .housesCardsBlock .houseCard .houseCardBanner {
  border-radius: 20px;
}
.houses .housesCardsBlock .houseCard .houseCardBanner img {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.houses .housesCardsBlock .houseCard .houseCardInfo {
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
}
.houses .housesCardsBlock .houseCard .houseCardInfo .houseCardInfoTop {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.houses .housesCardsBlock .houseCard .houseCardInfo .houseCardInfoBottom {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.events {
  padding: 75px 0;
}
.events .eventsBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.events .eventsBlock .eventsTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.events .eventsBlock .eventsTitle h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.events .eventsBlock .eventsTitle h1 span {
  color: #748A5B;
}
.events .eventsBlock .eventsTitle button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.events .eventsBlock .eventsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.events .eventsBlock .eventCard {
  border-radius: 20px;
}
.events .eventsBlock .eventCard img {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.services {
  padding: 75px 0;
}
.services .servicesBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.services .servicesBlock h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.services .servicesBlock h1 span {
  color: #748A5B;
}
.services .servicesBlock .servicesCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: row;
  justify-content: center;
}
.services .servicesBlock .servicesCards .serviceCard {
  position: relative;
  text-decoration: none;
}
.services .servicesBlock .servicesCards .serviceCard picture {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .servicesBlock .servicesCards .serviceCard picture img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}
.services .servicesBlock .servicesCards .serviceCard div {
  bottom: 0;
  padding: 22px;
  padding-top: 200px;
  display: flex;
  align-items: flex-start;
}
.services .servicesBlock .servicesCards .serviceCard div p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  color: #3D5E38;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 14px 28px;
}
.services .servicesBlock .servicesCards .serviceCard .serviceCardArrow {
  position: absolute;
  right: 0;
  top: 10px;
  right: 10px;
}

.advantages {
  padding: 75px 0;
}
.advantages .advantagesBack {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.advantages .advantagesBack img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.advantages .blockAdvantages {
  padding: 90px 0;
  position: relative;
}
.advantages h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.advantages h1 span {
  color: #FFFFC0;
}
.advantages .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 16px;
  padding: 40px 0;
}
.advantages .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  padding: 14px 26px;
  gap: 8px;
  width: auto;
  height: 100%;
  border-radius: 100px;
  border: 2px solid rgb(255, 255, 255);
}
.advantages .swiper-pagination .swiper-pagination-bullet p {
  margin: 0;
  z-index: 1;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 18px;
  color: #748A5B;
}
.advantages .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #748A5B;
}
.advantages .swiper-pagination .swiper-pagination-bullet-active svg path {
  stroke: #FFFFFF;
}
.advantages .swiper-pagination .swiper-pagination-bullet-active p {
  color: rgb(255, 255, 255);
}
.advantages .swiper-slide {
  min-height: 320px;
}
.advantages .blockSlide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.advantages .blockSlide h2 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 36px;
  color: #748A5B;
}
.advantages .blockSlide p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  color: #748A5B;
}
.advantages .blockSlide img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  width: 100%;
  height: 320px;
}
.advantages .blockSlide .advantagesSliderText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 58px 65px 0 58px;
  border-radius: 24px;
  background-color: #FFFFFF;
}
.advantages .blockSlide .advantagesSliderTitle {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.gallery {
  padding: 90px 0;
}
.gallery .galleryTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .galleryTitle h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.gallery .galleryTitle h1 span {
  color: #748A5B;
}
.gallery .galleryTitle .gallerySwiperBtns {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-between;
}
.gallery .galleryTitle .gallerySwiperBtns .gallerySwiperBtn {
  position: relative;
  z-index: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery .galleryTitle .gallerySwiperBtns .swiper-button-prev::after, .gallery .galleryTitle .gallerySwiperBtns .swiper-button-next::after {
  content: none;
}
.gallery .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery .swiper-pagination-bullet {
  width: 45px;
  height: 3px;
  border-radius: 0;
  background-color: #748A5B;
  opacity: 1;
}
.gallery .swiper-pagination-bullet-active {
  background-color: #3D5E38;
}
.gallery .swiper {
  padding: 40px 0;
}
.gallery .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.reviews {
  padding: 75px 0;
}
.reviews .blockReviews {
  position: relative;
  padding-top: 90px;
  padding-bottom: 76px;
}
.reviews .reviewsBack {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.reviews .reviewsBack img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews .swiper {
  padding: 40px 0;
}
.reviews .swiper-slide {
  background-color: #FFFFFF;
  border-radius: 20px;
}
.reviews .swiper-slide picture img {
  width: 100%;
  height: 100%;
  max-height: 243px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
}
.reviews .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reviews .swiper-pagination-bullet {
  width: 45px;
  height: 3px;
  border-radius: 0;
  background-color: #FFFFC0;
  opacity: 1;
}
.reviews .swiper-pagination-bullet-active {
  background-color: #3D5E38;
}
.reviews .reviewTopText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reviews .reviewTopUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}
.reviews .reviewTopUser p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 16px;
  color: rgb(40, 40, 40);
}
.reviews .reviewText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  padding-bottom: 70px;
}
.reviews .reviewBottomText p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: rgb(64, 64, 64);
}
.reviews .reviewsTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reviews .reviewsTitle h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: #FFFFFF;
}
.reviews .reviewsTitle h1 span {
  color: #FFFFC0;
}
.reviews .reviewsTitle .reviewsSwiperBtns {
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: space-between;
}
.reviews .reviewsTitle .reviewsSwiperBtns .reviewsSwiperBtn {
  position: relative;
  z-index: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.reviews .reviewsTitle .reviewsSwiperBtns .swiper-button-prev::after, .reviews .reviewsTitle .reviewsSwiperBtns .swiper-button-next::after {
  content: none;
}

.contacts {
  padding: 75px 0;
}
.contacts h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.contacts h2 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 30px;
  color: rgb(64, 64, 64);
}
.contacts p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  color: rgb(64, 64, 64);
}
.contacts a {
  margin: 0;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
  color: rgb(64, 64, 64);
}
.contacts .contactsBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.contacts .contactsBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  gap: 44px;
}
.contacts .contactsBlock .contactsText {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contacts .contactsBlock .contactsText .contactsTextTop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts .contactsBlock .contactsText .contactsTextTop .contactsTextTopMaps {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.contacts .contactsBlock .contactsText .contactsTextBottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts .contactsBlock .contactsText .contactsTextBottom .contactsTextBottomBtn {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

iframe {
  border-radius: 24px;
  overflow: hidden;
  max-width: 790px;
}

.contactsMap {
  flex-grow: 2 !important;
}

footer {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
}
footer .footerBlock {
  display: flex;
  gap: 60px;
  flex-direction: column;
  border-top: 2px solid #748A5B;
  padding-top: 60px;
}
footer .footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footerTop h2 {
  font-family: "Manrope";
  font-size: 40px;
  font-weight: 800;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerTop .footerTopInf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 201.5px;
}
footer .footerTop .footerTopInf .footerTopContacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
footer .footerTop .footerTopInf .footerTopContacts a {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerTop .footerTopInf .footerTopContacts div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
footer .footerTop .footerTopInf .footerTopContacts div p {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 400;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerTop .footerTopInf .footerTopContacts .footerContactsButton {
  display: flex;
  gap: 16px;
}
footer .footerTop .footerTopInf .footerTopInfBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .footerTop .footerTopInf h3 {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 700;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerTop .footerTopInf ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 0;
  margin: 0;
}
footer .footerTop .footerTopInf ul li {
  list-style: none;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerTop .footerTopInf ul li a {
  text-decoration: none;
  color: rgb(64, 64, 64);
}
footer .footerPolicy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footerPolicy p {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 600;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerPolicy p a {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  color: rgb(64, 64, 64);
  margin: 0;
  text-decoration: none;
}
footer .footerPolicy p span {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  color: rgb(64, 64, 64);
  margin: 0;
}
footer .footerPolicy a {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  color: rgb(64, 64, 64);
  margin: 0;
}

.news h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.news .newsPathLink a, .news .newsPathLink span {
  margin: 0;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: rgb(129, 126, 126);
}
.news .newsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 75px;
}
.news .allNewsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  padding-top: 40px;
}
.news .allNewsCards .newsCard {
  text-decoration: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.news .allNewsCards .newsCard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 210px;
  border-radius: 20px;
}
.news .allNewsCards .newsCard .newsCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.news .allNewsCards .newsCard .newsCardText h3 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  color: rgb(64, 64, 64);
}
.news .allNewsCards .newsCard .newsCardText p {
  margin: 0;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 16px;
  color: rgb(144, 142, 142);
}

.singleNews .singleNewsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 75px;
}
.singleNews .singleNewsBlock h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.singleNews .singleNewsBlock .singleNewsPathLink a, .singleNews .singleNewsBlock .singleNewsPathLink span {
  margin: 0;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: rgb(129, 126, 126);
}
.singleNews .singleNewsBlock .allSingleNews {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-top: 22px;
}
.singleNews .singleNewsBlock .allSingleNews .allSingleNewsText {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.singleNews .singleNewsBlock .allSingleNews .allSingleNewsText p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  color: rgb(64, 64, 64);
}

.rules .rulesBlocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 75px;
}
.rules .rulesBlocks h1 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 800;
  font-size: 46px;
  color: rgb(64, 64, 64);
}
.rules .rulesBlocks .rulesPathLink a, .rules .rulesBlocks .rulesPathLink span {
  margin: 0;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  color: rgb(129, 126, 126);
}
.rules .rulesBlocks .rulesLink {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 40px;
  background-color: rgb(242, 242, 242);
  border-radius: 16px;
}
.rules .rulesBlocks .rulesLink h3 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 32px;
  color: rgb(64, 64, 64);
}
.rules .rulesBlocks .rulesLink div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.rules .rulesBlocks .rulesLink div a {
  margin: 0;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  color: #3D5E38;
}
.rules .rulesBlocks .rulesLink div a:hover {
  text-decoration: underline;
}
.rules .rulesBlocks .allrules {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.rules .rulesBlocks .allrules .rulesBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.rules .rulesBlocks .allrules .rulesBlock .rulesBlockText {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.rules .rulesBlocks .allrules .rulesBlock h2 {
  margin: 0;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 32px;
  color: rgb(64, 64, 64);
}
.rules .rulesBlocks .allrules .rulesBlock p {
  margin: 0;
  font-family: "Manrope";
  font-weight: 500;
  font-size: 18px;
  color: rgb(64, 64, 64);
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */